<!-- views/partials/header.ejs -->
<!-- Just an image -->

<header class="d-none d-md-block  ">
    <nav class=" bg-img navbar navbar-light col-sm-12">
        <div class="container">
            <a class="navbar-brand" href="/" style="display: flex;">
                <img src="/img/logo.png" class="logo mr-2" width="80" height="80" class="d-inline-block align-top" alt="">
                <h1 class="premier">Cook
                    <span>& Go</span>
                </h1>
            </a>
            <% if (user.role == 2){ %>
                <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5>
                        <small>Chef
                            <%= user.nom %>
                        </small>
                    </h5>
                    <a href="/ateliers/admin/<%= user._id %>" class="p-1 btn-success">Mon compte</a>
                    <br>
                    <a href="/cuisiniers/logout" class="p-1 btn-danger">Se déconnecter</a>
                </div>
                <% } else if(user.role == 1) { %>
                    <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                        <h5>
                            <%= user.prenom %>
                                <%= user.nom %>
                        </h5>
                        <a href="/particuliers/logout" class="p-1 btn-danger">Se déconnecter</a>
                    </div>
                    <% } %>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-orange2 ">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">

         <div class="container">
                    <ul class="navbar-nav ">
                        <li class="nav-item ">
                            <a class="nav-link" href="/ateliers"> Nos Ateliers </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/cuisiniers/auth"> Créer son atelier </a>
                        </li>
                    </ul>
            
                </div>
                <div class="container d-flex justify-content-end">      
                            
                        <ul class="navbar-nav  ">
            
                                <% if (user.role !== 1 || 2 ){ %>
                     
                        <li class=" nav-item mr-2 ">
                            <a  class="nav-link font-weight-bold" href="/cuisiniers/auth"> Gérer ses ateliers </a>
                        </li>
                   
                  
              


                      
                         
                    
                                <li class=" nav-item ">
                                    <a  class="nav-link btn btn-light font-weight-bold" href="/particuliers/auth"> Se Connecter pour réserver </a>
                                </li>
                            </ul>
                            <% } %>
                        </div>
            </div>
    </nav>
</div>
  
</header>

<!--Petit-->
<header class="d-block d-md-none text-center" style="display: inline-flex none;">
    <nav class="  bg-img navbar navbar-light col-sm-12">
        <div class="container">
            <a class="navbar-brand  mx-auto" href="/">
                <img src="/img/logo.png" class="logo" width="80" height="80" class="d-inline-block align-top" alt="">
                <h1 class="premier">Cook
                    <span>& Go</span>
                </h1>
            </a>
            <% if (user.role == 2){ %>
                <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5>
                        <small>Chef
                            <%= user.nom %>
                        </small>
                    </h5>
                    <a href="/ateliers/admin/<%= user._id %>" class="p-1 btn-success">Mon compte</a>
                    <a href="/cuisiniers/logout" class="p-1 btn-danger">Se déconnecter</a>
                </div>
                <% } else if(user.role == 1) { %>
                    <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                        <h5>
                            <%= user.prenom %>
                                <%= user.nom %>
                        </h5>
                        <a href="/particuliers/logout" class="p-1 btn-danger">Se déconnecter</a>
                    </div>
                    <% } %>
        </div>
    </nav>
</header>